vel_reaccion.json
[{"id":"56ab10b8.58c04","type":"tab","label":"Velocidad de Reaccion","disabled":false,"info":""},{"id":"c7021354.4ba598","type":"serial in","z":"56ab10b8.58c04","name":"","serial":"c781c578.6ce808","x":210,"y":220,"wires":[["f38bbe9f.969f7","6b83436d.96ebac"]]},{"id":"9b2d5db6.b3ef8","type":"serial out","z":"56ab10b8.58c04","name":"","serial":"c781c578.6ce808","x":730,"y":420,"wires":[]},{"id":"f38bbe9f.969f7","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":300,"wires":[]},{"id":"29ab3288.7bb67e","type":"ui_numeric","z":"56ab10b8.58c04","name":"","label":"Modo : ","tooltip":"","group":"ed4bc572.278568","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"3","step":1,"x":210,"y":300,"wires":[["8cddb4a1.7bde98"]]},{"id":"40f2ac0d.579a04","type":"ui_numeric","z":"56ab10b8.58c04","name":"","label":"Pruebas :","tooltip":"","group":"ed4bc572.278568","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"global","format":"{{value}}","min":"1","max":10,"step":1,"x":200,"y":360,"wires":[["b3be42e7.07fc08"]]},{"id":"ea8d8230.35ae58","type":"ui_numeric","z":"56ab10b8.58c04","name":"","label":"Tiempo :","tooltip":"","group":"ed4bc572.278568","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"20","step":1,"x":200,"y":440,"wires":[["8545eb3b.74be28"]]},{"id":"22b8654c.ab7ffa","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":520,"wires":[]},{"id":"8cddb4a1.7bde98","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"Modo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[[]]},{"id":"b3be42e7.07fc08","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"Prueba","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":380,"wires":[[]]},{"id":"8545eb3b.74be28","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"Tiempo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":440,"wires":[[]]},{"id":"bd6d9a11.bab0b8","type":"function","z":"56ab10b8.58c04","name":"","func":"var valor= \"<\"+global.get('Modo')+\"-\"+global.get('Prueba')+\"-\"+global.get('Tiempo')+\">\";\n\nmsg.payload = valor;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["22b8654c.ab7ffa","9b2d5db6.b3ef8"]]},{"id":"a1c41106.9cade8","type":"ui_button","z":"56ab10b8.58c04","name":"","group":"ed4bc572.278568","order":3,"width":0,"height":0,"passthru":false,"label":"Enviar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":540,"wires":[["bd6d9a11.bab0b8"]]},{"id":"6b83436d.96ebac","type":"switch","z":"56ab10b8.58c04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"B","vt":"str"},{"t":"else"},{"t":"cont","v":"Prueba","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":160,"wires":[["c23794f6.abaa5"],["1366ba9d.489e15"],["1366ba9d.489e15","18cc8252.a596b6"]]},{"id":"c23794f6.abaa5","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[["b8bc121d.86e818"]]},{"id":"1366ba9d.489e15","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["b8bc121d.86e818"]]},{"id":"b8bc121d.86e818","type":"ui_led","z":"56ab10b8.58c04","order":1,"group":"ed4bc572.278568","width":"2","height":"2","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#8ae234","value":"true","valueType":"bool"},{"color":"#ef2929","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":800,"y":140,"wires":[]},{"id":"18cc8252.a596b6","type":"ui_text","z":"56ab10b8.58c04","group":"ed4bc572.278568","order":5,"width":0,"height":0,"name":"","label":"Tiempo","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":200,"wires":[]},{"id":"d2abb7ea.b30e28","type":"string","z":"56ab10b8.58c04","name":"","methods":[{"name":"getRightMost","params":[{"type":"str","value":"123"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":270,"y":100,"wires":[["b8ae9f44.77a2"]]},{"id":"140a6390.958a3c","type":"inject","z":"56ab10b8.58c04","name":"","topic":"","payload":"123456","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["d2abb7ea.b30e28","3e01c37b.a8b6a4"]]},{"id":"b8ae9f44.77a2","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":40,"wires":[]},{"id":"3e01c37b.a8b6a4","type":"string","z":"56ab10b8.58c04","name":"","methods":[{"name":"length","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":270,"y":140,"wires":[["b8ae9f44.77a2"]]},{"id":"c781c578.6ce808","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ed4bc572.278568","type":"ui_group","z":"","name":"Visualizacion","tab":"1b77c716.c1cef1","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b77c716.c1cef1","type":"ui_tab","z":"","name":"Velocidad de Reaccion","icon":"dashboard","order":8,"disabled":false,"hidden":false}]